.container {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 10px 20px;
}

main {
  background-color: #495e57;
}

/* NAV */
.nav-items {
  display: flex;
  gap: 30px;
  list-style: none;
}

.nav-items li a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

/* 📱 RESPONSIVE */
@media (max-width: 768px) {
  .container {
    flex-direction: column; /* logo arriba, nav abajo */
    align-items: center;
  }

  .nav-items {
    flex-direction: column; /* menú vertical */
    width: 100%;
    gap: 15px;
    margin-top: 10px;
  }

  .nav-items li {
    width: 100%;
  }

  .nav-items li a {
    display: block;
    width: 100%;
    padding: 10px;
    background: #f4f4f4;
  }
}

.img_footer {
  display: flex;
  justify-content: center;
  width: 200px;
  height: auto;
  border-radius: 10px;
}
