:root {
  --primary_color_a: #495e57;
  --primary_color_b: #f4ce14;
  --secondary_color_a: #ee9972;
  --secondary_color_b: #fbdabb;
  --highlight_color_a: #edefee;
  --highlight_color_b: #333333;
  --font-family-base: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --font-family-title: "Times New Roman", Times, serif;
  --font-family-text: Arial, Helvetica, sans-serif;
}

.hero,
.testimonials,
.booking-form {
  background-color: var(--primary_color_a);
  h1 {
    color: var(--primary_color_b);
  }
}

.specials,
.about {
  h1 {
    color: var(--primary_color_a);
  }
}
.booking-form {
  padding-bottom: 5%;
}
footer {
  background-color: var(--highlight_color_a);
}

h1,
h2 {
  font-family: var(--font-family-title);
}

h3,
h4,
h5,
h6 {
  font-family: var(--font-family-base);
}
p,
label {
  font-family: var(--font-family-text);
}
label {
  font-size: medium;
  font-weight: bold;
  color: var(--highlight_color_a);
}
img {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  width: 200px;
  height: auto;
}

button,
.btn {
  display: inline-block;
  cursor: pointer;
  padding: 10px 16px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 6px;
  background-color: var(--primary_color_b);
  color: var(--highlight_color_b);
  height: 40px;
  vertical-align: middle;
  text-align: center;
}

.btn-link {
  background: none;
  border: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  padding: 10px 20px;
}
/* NAVAR */
.nav-items {
  display: flex;
  gap: 30px;
  list-style: none;
}

.nav-items li a {
  text-decoration: none;
  color: var(--highlight_color_b);
  font-family: var(--font-family-base);
}

form {
  display: grid;
  gap: 20px;
}

input,
select {
  width: 100%;
  padding: 8px 12px;
  font-size: 14px;
  border: 1px solid #ced4da;
  border-radius: 6px;
  outline: none;
  cursor: pointer;
}

.card-hero {
  width: 25%;
  h3,
  p {
    color: var(--highlight_color_a);
  }
}
.card-about {
  width: 25%;
  h3,
  p {
    color: var(--highlight_color_b);
  }
}

.card-specials {
  width: 300px;
  border-radius: 12px;
  overflow: hidden; /* 🔥 recorta la imagen */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background: var(--highlight_color_a);
  transition: transform 0.2s ease;
}
.card-testimonials {
  width: 200px;
  background: var(--highlight_color_a);
  padding: 16px;
  border-radius: 12px;
}
.card-specials:hover,
.card-testimonials:hover {
  transform: translateY(-5px);
}
.card-img-specials {
  width: 100%;
  height: 180px;
  object-fit: cover; /* 🔥 evita que se deforme */
}
.card-img-testimonials {
  width: 50%;
  height: 50%;
  object-fit: cover; /* 🔥 evita que se deforme */
}
.card-body {
  padding: 10px;
}
.card-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  gap: 80px;
  p {
    color: var(--secondary_color_a);
  }
}
.card-text {
  margin: 0;
  color: #555;
  font-size: 14px;
}
.card-footer {
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 16px;
  padding: 20px;
}

/* 📱 RESPONSIVE */
@media (max-width: 970px) {
  .container {
    flex-direction: column; /* logo arriba, nav abajo */
    align-items: center;
  }

  .nav-items {
    flex-direction: column; /* menú vertical */
    width: 100%;
    gap: 15px;
    margin-top: 10px;
  }

  .nav-items li {
    width: 100%;
  }

  .nav-items li a {
    display: block;
    width: 100%;
    padding: 10px;
  }

  .card-hero {
    width: 50%;
    h1 {
      color: var(--primary_color_b);
    }
    h3,
    p {
      color: var(--highlight_color_a);
    }
  }
  .card-specials {
    width: 75%;
  }
  .card-testimonials {
    width: 50%;
  }
  .card-about {
    width: 100%;
  }
}

.nav-items-footer {
  gap: 30px;
  list-style: none;
}

.nav-items-footer li a {
  text-decoration: none;
  color: var(--highlight_color_b);
  font-family: var(--font-family-base);
}
